/* ==========================================================================
   General styles
   ========================================================================== 
*/

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.videoBackground{
  background-image: url(../images/background_img.jpg);
  background-position-y: center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

/* .transparentBackground{
  background:rgba(255, 255, 255, 0.5);
} */

.myLink:hover{
  background:rgba(32, 32, 32, 0.3) !important;
}

a, a:hover {
  text-decoration: none;
}

.text-14 {
	font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.size-8 {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.form-control-sm {
    border-radius: 0.8rem !important;
}

.btn, .btn-lg, .btn-sm {
    border-radius: 2.3rem !important;
}

.text-orange {
	color: #e97817;
}

.bg-dark {
    background-color: #2b2d30!important;
}

/*Style Toastr messages*/
.toast-top-center,
.toast-top-full-width { 
    top: 90px;
} 

/* Style Header */
#myheader {
    background-color: #1b1b1b;
}

#myheader nav a.navbar-brand {
    font-family: 'Nothing You Could Do', cursive;
}

#myheader h2 {
    /*font-family: 'Audiowide', cursive;*/
    font-family: 'Nothing You Could Do', cursive;
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}

/* Style About Page */
#header-about {
    background-image: url("../images/guitar.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.bg-opacity {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.bg-opacity2 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#header-about h3 span {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 70px;
}

.text-nothing-you-can-do {
  font-family: 'Nothing You Could Do', cursive;
}

#team .profile-img img:hover {
  box-shadow: 0 0.1rem 0.6rem rgba(23, 162, 184, .5) !important;
}

/*Style homepage*/
#editorsChoice {
    background-image: url("../images/microphone.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/* ==========================================================================
   Footer
   ========================================================================== */

div i { /**Selects all <div> elements inside <i> elements**/
  font-size:40px;
}